// Step 1: Override Bootstrap color variables BEFORE importing Bootstrap

$theme-colors: (
  "primary": #f2d479,
  "secondary": #f2b872,
  "brown": #a68a72,

  "danger": #ef4444,
  "success": #10b981,
  "info": #38bdf8,

  "light": #f2eadf,
  "dark": #26211f,
  "white": #d0d0d0,
);

// Step 2: Import Bootstrap (after variables)
@import "bootstrap/scss/bootstrap";

// Custom Styling
@media (min-width: 992px) {
  /* Bootstrap's lg breakpoint */
  .header-responsive {
    width: 80dvw !important;
  }
  // Form for About User selection section
  .form_container {
    width: 80% !important;
  }
  // for each section in GameDetailView
  .section-responsive {
    width: 80dvw !important;
  }
}
